<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main site-main--singular site-main--single","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull site-main site-main--singular site-main--single"><!-- wp:group {"align":"wide","className":"entry-header","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide entry-header"><!-- wp:post-terms {"term":"category","className":"post-meta"} /-->

<!-- wp:post-title {"level":1,"align":"wide"} /-->

<!-- wp:group {"className":"post-meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group post-meta"><!-- wp:post-date {"isLink":true} /-->

<!-- wp:post-author-name {"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"align":"wide"} /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","contentSize":"960px","wideSize":"1280px"}} /-->

<!-- wp:post-terms {"term":"post_tag"} /-->

<!-- wp:separator {"backgroundColor":"line","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-line-color has-alpha-channel-opacity has-line-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"align":"wide","className":"post-navigation","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide post-navigation"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true} /-->

<!-- wp:post-navigation-link {"showTitle":true,"linkLabel":true} /--></div>
<!-- /wp:group -->

<!-- wp:comments {"className":"wp-block-comments-query-loop"} -->
<div class="wp-block-comments wp-block-comments-query-loop"><!-- wp:comments-title {"level":2,"showPostTitle":false} /-->

<!-- wp:comment-template -->
<!-- wp:group {"className":"comment-body","layout":{"type":"constrained"}} -->
<div class="wp-block-group comment-body"><!-- wp:group {"className":"comment-meta","layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group comment-meta"><!-- wp:avatar {"size":40} /-->

<!-- wp:comment-author-name /-->

<!-- wp:comment-date /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:comment-reply-link /-->

<!-- wp:comment-edit-link /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:comments-pagination-previous /-->
<!-- wp:comments-pagination-numbers /-->
<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
